#datepicker {
  text-align: center;
}
#datepicker-md .datepicker-inline {
  width: 100%;
}
#datepicker-md .table-condensed {
  width: 100%;
}
#form-container {
  padding-left: 0;
  padding-right: 0;
}
/*Не сделано с помощью col-xs-12 потому что иначе перестает отрисовываться в нужном 
положении дропдаун*/
#form-container button {
  width: 100%;
}
#form-container button, #form-container input, #datepicker-container>*{
  margin-bottom: 15px;
}
#form-container ul {
  margin-top: -15px;
  margin-left: 15px;
}
a[role="menuitem"] {
	cursor: pointer;
}
.entry-table-row{
  cursor: pointer;
}
.selected {
  background-color: #7DC0FA !important;
}